div.moviepage {
	position: relative;
	display: block;
	color: var(--white);
}

.movies-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.movies-list .movie-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	margin-top: 60px;
	padding: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 12px;
	border-radius: 20px;
}
.filter-list {
	position: absolute;
	width: 300px;
	height: auto;
	top: 2px;
	left: 20px;
	z-index: 2;
}
.movies-list .movie-item .image {
	max-width: 300px;
	max-height: 500px;
	height: 300px;
	padding: 5px;
}

.movies-list .movie-item .image img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.movie-item .movie-title {
	margin: 5px;
	text-decoration: none;
	font-size: 16px;
	max-width: 200px;
	text-align: center;
}

.movie-item-wrapper {
	display: flex;
	flex-direction: column;
	color: #000000;
	transition: all 0.3s;
}

.movie-item-wrapper:hover {
	color: #000000;
	transform: scale(1.1) rotate(2deg);
}
