.movie-page {
	height: 100%;
	width: 100%;
}

.movie-page-wrapper {
	padding: 1%;
	display: flex;
	flex-direction: column;
}

.movie-page-wrapper .about-block {
	display: flex;
	flex-wrap: wrap;
}
.movie-about-info {
	width: 50%;
	flex-grow: 1;
	padding-left: 30px;
}
.movie-about-info h2 {
	margin-top: 0px;
}
.genre-block a {
	color: rgba(0, 0, 0, 0.75);
	text-decoration: underline;
	transition: 0.2s all;
}
.genre-block a:hover {
	text-decoration: none;
	font-size: 16px;
	transition: 0.5s all;
}
.movie-cover img {
	min-height: 700px;
	height: 100%;
	border-radius: 30px;
}
.inform-fields div {
	margin: 5px;
}
.inform-fields span {
	width: 35%;
	display: inline-block;
}
.movie-title {
	width: fit-content;
}

.movie-descriptions {
	border-color: #000000;
	border-left: 2px solid;
	padding: 40px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 5px;
	margin-top: 30px;
	font-size: 18px;
	width: 100%;
	max-width: 800px;
	max-height: 300px;
	text-overflow: ellipsis;
}
.player-block {
	max-width: 90%;
	margin-left: 5%;
	min-height: 800px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.player-block iframe {
	flex-grow: 1;
	height: 100%;
	border: 0;
}
.player-block h1 {
	margin: 5px 20px;
}
.reviews-block {
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
}
.reviews-block .review {
	border: 1px solid black;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 15px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	overflow: auto;
}
.reviews-block .review .review-header {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.reviews-block .review .review-header .user {
	margin-left: 20px;
	font-weight: 500;
}
.reviews-block .review .review-header .rating {
	margin-left: auto;
	margin-right: 20px;
	scale: 1.2;
	font-weight: 500;
}
.reviews-block .review .review-text {
	display: flex;
	max-width: 100%;
	margin-top: 5px;
	text-wrap: wrap;
	text-overflow: auto;
}
.review-page-block {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.review-page-block .current-page {
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
	margin-left: 15px;
	margin-right: 15px;
}
.reviews-block .review-writing {
	display: flex;
	margin-left: 15px;
	margin-bottom: 20px;
	width: 100%;
}
.reviews-block .review-writing h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	margin-right: auto;
}
@media screen and (max-width: 1150px) {
	.movie-cover img {
		min-height: 300px;
		max-height: 500px;
		height: 100%;
		width: 100%;
	}
	.movie-cover {
		margin: 0 0 20px 0;
	}
	.movie-descriptions {
		font-size: 15px;
	}
	.inform-fields {
		font-size: 14px;
	}
	.reviews-block .review {
		font-size: 14px;
	}
	.reviews-block .review .review-header .rating {
		width: 100%;
		scale: 1;
		margin: 0;
	}
}
.user-review-block {
	display: flex;
	flex-direction: column;
	height: auto;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}
.user-review-block .user-review-header {
	display: flex;
	gap: 20px;
	height: auto;
	vertical-align: middle;
	align-items: center;
}
.warning-subscription {
	display: flex;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin-top: 20px;
}
.warning-subscription span {
	font-size: 16px;
	font-weight: bold;
	text-wrap: wrap;
}
.warning-subscription span a {
	font-size: 16px;
	text-decoration: underline;
	color: gray;
	transition: 0.2s all;
}
.warning-subscription span a:hover {
	transition: 0.4s all;
	font-size: 18px;
	text-decoration: none;
	color: black;
}
.rate-wrapper {
	display: flex;
	width: 100%;
	justify-content: right;
	margin-top: 10px;
}
.rate-wrapper .desc {
	margin-right: 10px;
}
.movie-title-wrapper {
	display: flex;
}
@media screen and (max-width: 600px) {
	.movie-cover img {
		min-height: 300px;
		max-height: 500px;
		height: 100%;
		width: 100%;
	}
	.movie-cover {
		margin: 0 0 20px 0;
	}
	.movie-descriptions {
		font-size: 15px;
	}
	.inform-fields {
		font-size: 12px;
	}
	.reviews-block .review {
		font-size: 12px;
	}
}
