.movie-page {
	height: 100%;
	width: 100%;
}

.movie-page-wrapper {
	padding: 1%;
	display: flex;
	flex-direction: column;
}

.movie-page-wrapper .about-block {
	display: flex;
	flex-wrap: wrap;
}
.movie-about-info {
	width: 50%;
	flex-grow: 1;
	padding-left: 30px;
}
.movie-about-info h2 {
	margin-top: 0px;
}

.movie-cover img {
	min-height: 700px;
	height: 100%;
	border-radius: 30px;
}
.inform-fields div {
	margin: 5px;
}
.inform-fields span {
	width: 35%;
	display: inline-block;
}
.movie-title {
	width: fit-content;
}

.movie-descriptions {
	border-color: #000000;
	border-left: 2px solid;
	padding: 40px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 5px;
	margin-top: 30px;
	font-size: 18px;
	width: 100%;
	max-width: 800px;
	max-height: 300px;
	text-overflow: ellipsis;
}
.player-block {
	max-width: 90%;
	margin-left: 5%;
	min-height: 800px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.player-block iframe {
	flex-grow: 1;
	height: 100%;
	border: 0;
}
.player-block h1 {
	margin: 5px 20px;
}
.reviews-block {
	width: fit-content;
	max-width: 90%;
	margin-left: 5%;
	margin-top: 20px;
}
.reviews-block .review {
	border: 1px solid black;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 15px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	overflow: auto;
}
.reviews-block .review .review-header {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.reviews-block .review .review-header .user {
	margin-left: 20px;
	font-weight: 500;
}
.reviews-block .review .review-header .rating {
	margin-left: auto;
	margin-right: 20px;
	font-weight: 500;
}
.reviews-block .review .review-text {
	display: flex;
	max-width: 100%;
	margin-top: 5px;
	text-wrap: wrap;
	text-overflow: auto;
}
@media screen and (max-width: 1150px) {
	.movie-cover img {
		min-height: 300px;
		max-height: 500px;
		height: 100%;
		width: 100%;
	}
	.movie-cover {
		margin: 0 0 20px 0;
	}
	.movie-descriptions {
		font-size: 15px;
	}
	.inform-fields {
		font-size: 14px;
	}
	.reviews-block .review {
		font-size: 14px;
	}
}
@media screen and (max-width: 600px) {
	.movie-cover img {
		min-height: 300px;
		max-height: 500px;
		height: 100%;
		width: 100%;
	}
	.movie-cover {
		margin: 0 0 20px 0;
	}
	.movie-descriptions {
		font-size: 15px;
	}
	.inform-fields {
		font-size: 12px;
	}
	.reviews-block .review {
		font-size: 12px;
	}
}
