div.MainLab{
    height: 90vh;
    color: var(--white);
    padding-left: var(--left-margin);
    top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
div.MainLab ol.Movie {
    margin: 0;
    padding: 0 0 0 25px;
}
div.MainLab ol.Movie li {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-neutral-color)
}
div.MainLab ol.Movie li h3 {
    margin-bottom: 5px;
}
div.MainLab ol.Movie li span {
    margin-left: 20px;
}
div.MainLab ol.Movie li button {
    margin-left: 20px;
    margin-top: 10px;
    background: transparent;
    border: 1px solid transparent;
    padding: 4px 8px 4px 8px;
    font-size: 10pt;
    font-weight: 200;
    border-radius: 5px;
    color: var(--light-neutral-color);
    transition: 0.75s;
    cursor: pointer;
}
div.MainLab ol.Movie li button:hover {
    transition: 0.5s;
    color: white;
    border: 1px solid var(--accent-color);
    font-size: 11pt;
    font-weight: 400;
}
div.MainLab form.Insertion {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}
div.MainLab form.Insertion input.TextInput {
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--light-neutral-color);
    padding: 2px 2px 5px 10px;
    outline: none;
    color: var(--white);
    transition: 0.5s;
}
div.MainLab form.Insertion input.TextInput:valid,
div.MainLab form.Insertion input.TextInput:focus {
    border-bottom: 2px solid var(--accent-color);
    transition: 0.5s;
}
div.MainLab form.Insertion input.sendButton {
    width: 80px;
    background: transparent;
    color: var(--white);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.5s;
}
div.MainLab form.Insertion input.sendButton:hover {
    transition: 0.5s;
    border: 1px solid var(--accent-color);
    letter-spacing: 2px;
}
h2.movieList {
    border-top: 2px solid var(--light-neutral-color);
    padding-top: 10px;
}