.personal-block {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.personal-block .personal-header {
	display: flex;
	align-items: center;
	vertical-align: middle;
}
.personal-block .personal-header .header {
	font-size: 18px;
	font-weight: 600;
	margin-right: 15px;
}
.personal-block .personal-subscription-constructor {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid black;
	padding-bottom: 50px;
}
.subscription-block {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.subscription-block .subscription-list {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 25px;
}
.subscription-block .subscription-list .subscription-item {
	min-width: 200px;
	max-width: 280px;
	max-height: 500px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 20px;
	align-items: center;
	-webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
	border-radius: 5%;
	transform: scale(1);
	transition: 0.2s all;
}
.subscription-block .subscription-list .subscription-item:hover {
	transition: 0.4s all;
	transform: scale(1.05);
}
.subscription-block .subscription-list .subscription-item .genre-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.subscription-block
	.subscription-list
	.subscription-item
	.genre-list
	.genre-item {
	padding: 0 5px 0 5px;
	margin: 0 2px 0 2px;
	background-color: lightgray;
	border-radius: 5px;
}
.subscription-block .subscription-list .subscription-item .item-content {
	justify-content: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.subscription-block .subscription-list .subscription-item .item-content p {
	margin: 0;
	margin-top: 5px;
	display: flex;
	width: auto;
	justify-content: space-between;
	width: 100%;
}
.subscription-block .subscription-list .subscription-item .item-content p span {
	margin-left: auto;
	padding-right: 5px;
	text-align: end;
	vertical-align: bottom;
}
.subscription-block .subscription-list .subscription-item .item-footer {
	display: flex;
	align-self: last baseline;
	align-items: left;
	width: 100%;
	justify-content: center;
}
